.container-f{
    padding-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-weight: bold;
    color:  #787679
}

.btn-agregari{
    margin-top: 13px;
    background-color: #5d56ca;
}